.App-header {
  position: relative;
  height: 118px;
  width: 100%;
  background-color: #E4B062;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header-logo img {
  width: 273px;
  height: 63px;
  padding: 15px;
  padding-left: 15%;
}

.App-header-user {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 1%;
}

.App-header-logout img {
  width: 70px;
  height: auto;
  padding: 25px;
}

#App-header-logo-mobile {
  display: none;
}

.App-link {
  color: #61dafb;
}

.Login-container {
  margin: auto;
  width: clamp(480px, 33.5vw, 700px); 
  height: clamp(300px, 23vw, 500px); 
  box-sizing: border-box;
  position: relative;
  /* mainBackground */
  background: #FFFFFF;
  /* blueWater */
  border: 5px solid #27569C;
  /* shadow */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: x-large;
  margin: auto;
  margin-top: 15vh;
  padding: 1%;
}

#Auth-text {
  color: #27569C;
  text-align:center;
  padding: 7%;
}

#Login-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
}

#lgn {
  border: 4px solid #27569C;
  border-radius: 10px;
  background: #D9D9D9;
  width: clamp(200px, 20vw, 650px); 
  height: clamp(30px, 2vw, 70px); 
}

#Password-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
  margin-top: 5%;
}

#pass {
  border: 4px solid #27569C;
  border-radius: 10px;
  background: #D9D9D9;
  width: clamp(200px, 20vw, 650px); 
  height: clamp(30px, 2vw, 70px); 
}

#Auth-submit-btn {
  text-align:center;
  margin-top: 5%;
}

#btn {
  border-radius: 5px;
  font-size: x-large;
  width: 15vw;
  height: 3vw;
  width: clamp(200px, 15vw, 650px); 
  height: clamp(30px, 3vw, 75px); 
  background-color: #E4B062;
  border-radius: 15px;
}

.Posts-container {
  display: grid;
  align-items: center;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: 2vh;
  margin: auto;
  width: clamp(800px, 1050px, 1200px); 
  column-gap: 1px;
}

.Post {
  border: 5px solid #27569C;
  width: clamp(400px, 32vw, 465px); 
  height: clamp(380px, 26vw, 400px); 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "Post-photo Post-name"
    "Post-title Post-title"
    "Post-body Post-body";
  padding: 3%;
  font-size: 1.1rem;  
}

.Post-photo {
  grid-area: Post-photo;
}

.Post-author {
  grid-area: Post-name;
  margin-left: 20px;
}

.Post-title {
  grid-area: Post-title;
}

.Post-body {
  grid-area: Post-body;
}

.Input-container {
  margin: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { 
  .App-header-logo img {
    display: none;
  }

  .App-header-user {
    display: none;
  }

  #App-header-logo-mobile {
    display: block;
    width: 75px;
    height: auto;
  }

  .Login-container {
    width: 80vw;
    height: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 9%;
    padding: 1%;
  }

  #Login-input {
    grid-template-columns: 1fr;
    margin-top: 0%;
  }

  #Password-input {
    grid-template-columns: 1fr;
    margin-top: 0%;
  }

  #Auth-text {
    padding: 2%;
  }

  #pass {
    width: 53vw;
    height: 10vw;
    margin-top: 2%;
  }
  
  #lgn {
    width: 53vw;
    height: 10vw;
    margin-top: 2%;
  }

  #btn {
    width: 53vw;
    height: 10vw;
  }

  .Post-photo {
    display: none;
  }
  .Post {
    width: 65vw;
    height: auto;
    margin-left: 3%;
    display: block;
  }

  .Posts-container {
    grid-template-columns: 1fr;
  }

  .Post-author {
    margin-left: 0%;
    margin-right: auto;
  }
}

@media only screen and (min-device-width: 744px) and (max-device-width: 1024px) { 
  .App-header-logo img {
    display: none;
  }

  #App-header-logo-mobile {
    display: block;
    width: 75px;
    height: auto;
  }

  .App-header-logo-mobile {
    display: block;
    width: 50px;
  }

  .Login-container {
    width: 70%;
    height: 50%;
    grid-column: auto;
    grid-template-rows: auto;
    margin-top: 20%;
    padding: 1%;
  }

  #Login-input {
    grid-template-columns: 1fr;
    margin-top: 0%;
  }

  #Password-input {
    grid-template-columns: 1fr;
    margin-top: 0%;
  }

  #Auth-text {
    padding: 2%;
  }

  #pass {
    margin-top: 2%;
    width: 35vw; 
    height: 5vw; 
  }
  
  #lgn {
    margin-top: 2%;
    width: 35vw; 
    height: 5vw; 
  }

  #btn {
    width: 25vw; 
    height: 5vw; 
  }

  .Posts-container {
    width: 625px;
    margin-left: 12%;
  }

  .Post {
    width: 32vw;
    grid-template-columns: 1fr;
  }

}

